*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(173, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: 100%;
}
.B{
    width: 100%;
    max-width: 850px;
}
.container{
    background-color:rgb(245, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgb(152, 152, 152) ;
}


.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 20px 40px 20px 40px;
}
.box1 .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1 .icon i{
    color: rgb(18, 18, 145);
    font-size: 23px;
}
.icon b{
    font-size: 14px;
}
.icon p{
    color: rgb(158, 158, 158);
    font-size: 10px;
    font-weight: 500;
}

.hori_line{
    background-color: rgb(202, 202, 202);
    width: 1.5px;
    height: 200px;
}


.box2 form{
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 20px 40px 30px 40px;
    min-height: 200px;
}
form span h3{
    color: rgb(18, 18, 145);
}
form span p{
    color: rgb(123, 122, 122);
    font-size: 12px;
    font-weight: 500;
}
form .input{
    background-color: #daeffb;
    border: none;
    border-radius: 5px;
    outline: none;
}
form .in_one{
    padding: 10px 0 10px 10px;
    width: 100%;
    max-width: 800px;
}
form .in_two{
    padding: 10px 0 10px 10px;
     width: 100%;
     max-width: 800px;
}
form .in_three{
    padding: 10px 0 50px 10px;
     width: 100%;
     max-width: 800px;
     resize: none;
}
form button{
    color: white;
    background-color: rgb(18, 18, 145);
    border: none;
    border-radius: 5px;
    padding: 9px;
    width: 100px;
}


@media (max-width: 720px){
    .box1{
        display: flex;
        flex-direction: row;
        width: 85%;
    }
}
@media (max-width: 420px){
    .box1{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        width: 75%;
    }
}
@media (max-width: 720px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
}
@media (max-width: 720px){
    .hori_line{
        display: none;
    }
}