*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}


.navbar .logo{
    font-size: 1.6rem;
    font-weight: bolder;
    color: rgb(44, 44, 44);
}


.navbar .list{
    display: flex;
    list-style: none;
}
.navbar .list li a{
    padding: 0 20px 0 20px;
    color: rgb(130, 130, 130);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar .btn button{
    padding: 13px 20px 13px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(219, 72, 248);
    border: none;
    border-radius: 8px;
    background-color: rgb(244, 211, 255);
}

main{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main .content{
    text-align: left;
    margin: 0 10px 0 50px;
}
main .content p:nth-of-type(1){
    font-size: 3rem;
    font-weight: 900;
    color: rgb(68, 67, 67);
    display: flex;
    flex-direction: column;
}
main .content p:nth-of-type(1) strong{
    color: rgb(238, 31, 193);
}
main .content p:nth-of-type(2){
    font-size: 1rem;
    color: rgb(130, 130, 130);
    padding-top: 10px;
    padding-bottom: 30px;
}
    

main .content button{
    padding: 19px 35px 19px 35px;
    background-color: rgb(238, 31, 193);
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;

    transition: transform 0.3s ease-in-out, background-color 0.3s linear;
}
.content button:hover{
    background-color: rgb(179, 4, 141);
    transform: rotate(-5deg) scaleX(1.2)scaleY(1.4);
}
main img{
    height: 450px;
}
main .image{
    margin: 0 10px 0 200px;
}

.Mobile-Hamburger{
    display: none;
}

/* Tablet View */

@media screen and (max-width: 1024px){
    main .content p:nth-of-type(1){
        font-size: 2.5rem;
    }
    main .content p:nth-of-type(2){
        font-size: 0.9rem;
    }

    main .content button{
        padding: 15px 19px 15px 19px;
        font-weight: bold;
        font-size: 0.9rem;
    }

    main .content{
        margin: 0 0 0 5px;
    }

    main img{
        height: 350px;
    }

    main .image{
        margin: 0 10px 0 100px;
    }

    .navbar .logo{
        font-size: 1.5rem;
    }

    .navbar ul li a{
        padding: 0 20px 0 20px;
        font-size: 0.8rem;
    }
    
    
    .navbar .btn button{
        padding: 12px 19px 12px 19px;
        font-size: 0.7rem;
    }
    
}

/* Mobile View */

@media screen and (max-width: 380px) {
    .navbar{
        /* display: flex; */
        /* justify-content: space-between; */
        align-items:center;
        padding: 20px;
        /* position: relative; */
    }

    .navbar .list li{
        display: none;
    }

    .navbar .logo{
        font-size: 2rem;
    }

    .navbar .btn button{
        padding: 13px 20px 13px 20px;
        font-size: 0.7rem;
    }


    main{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    main .content{
        text-align: center;
        margin: 0 0 0 0;
    }
    main .content p:nth-of-type(1){
        font-size: 1.9rem;
        font-weight: 900;
        display: flex;
        flex-direction: column;
    }

    main .content p:nth-of-type(2){
        font-size: 0.8rem;
        color: rgb(130, 130, 130);
        padding-top: 5px;
        padding-bottom: 16px;
    }

    main img{
        height: 300px;
    }

    main .image{
        margin: 0 0 0 0;
    }



    /* /////////////////// Hamburger //////////////////////////////// */

    .Mobile-Hamburger{
        display: flex;
        flex-direction: column;
    }

    .Hamburger-menu{
        display: flex;
        flex-direction: column;
        gap: 2px;
        position: absolute;
        top: 33px;
    
    }
    
    .Hamburger-menu::before,
    .Hamburger-menu::after,
    .Hamburger-menu input{
        content: "";
        background-color: black;
        width: 30px;
        height: 4px;
        border-radius: 9999px;
    
        position: relative;
        z-index: 20;
    
        transform-origin: left center;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
    
    .Hamburger-menu input{
        appearance: none;
        outline: none;
        pointer-events: none;
        padding: 0;
        margin: 0;
    }
    
    .Hamburger-menu:has(input:checked)::before{
        transform: rotate(25deg);
        background-color: white;
    }
    .Hamburger-menu:has(input:checked)::after{
        transform: rotate(-25deg);
        background-color: white;
    }
    .Hamburger-menu input:checked{
        opacity: 0;
    }
    
    .sidebar{
        background-color: rgba(23, 23, 23, 0.8);
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        
        opacity: 0;
        max-width: 0;
        visibility: hidden;

        transition: max-width 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    }
    .sidebar .mobile-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 20px;
    }
    .sidebar .mobile-list li a{
        text-decoration: none;
        color: white;
        font-weight: 700;
    }
    
    .Hamburger-menu:has(input:checked) + .sidebar{
        max-width: 50%;
        opacity: 1;
        visibility: visible;
    }
}