*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url(4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%  ;
    background-position: right;
    backdrop-filter: blur(1px);
}

nav{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    width: 300px;
    height: 790px;
    z-index: 100;
}
.head{
    color: white;
    font-size: 1.8em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 12px 0 ;
    border: 1px solid  rgba(255, 255, 255, 0);
    box-shadow: 0px 5px 6px rgba(255, 255, 255, 0.3);
}
.options{
    list-style-type: none;
    border: 1px solid  rgba(255, 255, 255, 0);
    box-shadow: 0px 5px 6px rgba(255, 255, 255, 0.3);
}
.options .lis{
    /* margin: 20px 0 0 20px ; */
    margin-top: 30px;
    color: white;
    font-size: 1.3em;
    font-weight: 480;
    display: flex;
    flex-direction: column;
}
.lis li{
    /* border: 1px solid black; */
    padding: 15px 0 15px 20px;
}
.lis li:hover{
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.options .lis img{
    padding-right: 10px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin: 147px 0 30px 0;
}
